.header {
width: 1860px;
height: 100px;
background-color: limegreen;
}

.input {
    position: absolute;
    margin-top: 35px;
    margin-left: 1170px;
    width: 500px;
    height: 25px;
}
.button {
    position: absolute;
    margin-left: 1690px;
    margin-top: 40px;
}